/* =======================================
	GENERAL / GLOBAL
   ======================================== */

@font-face {
  font-family: BebasNeue;
  src: url('../fonts/BebasNeue.otf');
}


#toast-container {
	top: 70px;
}

/* ------- Bootstrap override --------*/
.btn {
	border: 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.btn.btn-default {
	background-color: #EEE8E8;
}



/* ------- Custom globals --------*/
.bg-gray {
	background-color: whitesmoke;
	border: 0px;
}

.btn-gray-dark1 {
	background-color: #838383;
	border: 0px;
	color: white;
}

.btn-gray-dark2 {
	background-color: #4F4F4F;
	border: 0px;
	color: white;
}

.new_record {
	background-color: #E9E9E9;
	color: #424242;
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F6F6F6;
}

nav.navbar {
    background-color: #2F2F2F;
    border: 0px;
    color: white;
    border-radius: 0px;
}

#nav_tabContent {
	margin-bottom: 15px;
}

.modal-content {
	border: 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#modal-delete-organization .modal-content {
	border: 0px;

}

#modal-delete-organization .modal-header, 
#modal-delete-organization .modal-footer {
	border: 0px;
}

#modal-edit-organization .modal-body {
	min-height: 630px;
}



.modal-content .form-control {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 100%;
}

input + input {
	margin-top: 5px;
}

.modal-content label {
	color: #8F8C87;
	font-family: BebasNeue;
	margin-bottom: 2px;
}

.modal-title {
	color: #29282D;
	font-family: BebasNeue;
}

span.label {
	padding-top: 4px;
	margin: 2px;

}

.label-custom-item {
	background-color: #E9E9E9;
	border: 0px;
	color: #424242;
	line-height: 2.3;
	font-weight: 500;
	font-size: .9em;
}

#table_organizations.table thead tr th {
	color: #29282D;
	font-family: BebasNeue;
	font-size: 1.2em;
}

.btn-group .btn+.btn {
	margin-left: 0px;
}

.btn-group>.btn {
	border-radius: 0px;
} 

.org_edit {
	width: 24px;
	height: 20px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.bg-dark-gray {
	background-color: #566963;
	color: white;
}

/* =========================================== 
	Bootstrap Tokenfield
   =========================================== */

span.ui-helper-hidden-accessible{
	display: none;
}

.token {
	max-width: 100%;
}
.token > span {
	max-width: 100% !important;
}




/* =========================================== 
	show_edit_items.php content
   =========================================== */

#body-edit-items #container_form_orgitems {
	padding: 20px 30px 20px 30px;
	min-height: 130px;
	position: relative;
}

#body-edit-items #btn_org_add_item{
	position: absolute;
	height: 39px;
	margin-top: 10px;
	right: 0;
}

#container_org_items {
	position: relative;
	max-width: 70%;
	margin: 0 auto;
}

#body-edit-items div.tokenfield.form-control {
	border-radius: 2px;
}


#body-edit-items .ui-autocomplete {
	border: 1px solid #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 100px;
    padding: 0;
    list-style-type: none;


}

#body-edit-items .ui-menu-item {
	padding-left: 20px;
	left: 0;
}

#body-edit-items .ui-menu-item:hover {
	background-color: #E0E4CC;
	cursor: pointer;
}

#body-edit-items .badge {
	min-width: 17px;
	font-size: 10.5px;
	line-height: 0.5;
	background-color: #222222;
	padding: 5px 0px;
	border-radius: 10px;
}


/* =========================================== 
	show_organizations.php content
   =========================================== */
#body-organizations .btn-group {
	max-width: 50px;
}


/* =========================================== 
	Smaller Screen Sizes
   =========================================== */
@media screen and (max-width: 480px) {

	#table_organizations.table thead tr th,
	#table_organizations.table tbody tr td {
		max-width: 100%;
	}

    #table_organizations.table tbody tr td {
    	display: block;
    }

    .table>tbody>tr>td {
    	border: 0px;
    }

    .table>tbody>tr {
    	margin-bottom: 5px;
    	margin-top: 5px;
    }

    #table_organizations.table tbody tr td:last-child {
    	border-bottom: 1px solid lightgray;
    }

}