@font-face {
  font-family: BebasNeue;
  src: url('../fonts/BebasNeue.otf');
}


nav.navbar {
	border-radius: 0px;
}

#nav_tabContent {
	margin-bottom: 15px;
}

.modal-content {
	border: 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#modal-delete-organization .modal-content {
	border: 0px;

}

#modal-delete-organization .modal-header, 
#modal-delete-organization .modal-footer {
	border: 0px;
}

#modal-edit-organization .modal-body {
	min-height: 630px;
}

.nav-pills>li>a {
    border-radius: 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #525860;
}

button.btn {
	border: 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

button.btn.btn-default {
	background-color: #EEE8E8;
}

.modal-content .form-control {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 100%;
}

input + input {
	margin-top: 5px;
}

.modal-content label {
	color: #8F8C87;
	font-family: BebasNeue;
	margin-bottom: 2px;
}

.modal-title {
	color: #29282D;
	font-family: BebasNeue;
}

span.label {
	padding-top: 4px;
	margin: 2px;

}

.label-custom1 {
	background-color: #DEDEDE;
	border: 0px;
	color: #595959;
	line-height: 2em;
	font-size: .8em;
}


.ui-autocomplete{
	z-index: 99999;
	border: 1px solid gray;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 200px;
}

span.ui-helper-hidden-accessible{
	display: none;
}

.token {
	max-width: 100%;
}
.token > span {
	max-width: 100% !important;
}

#table_organizations.table thead tr th,
#table_organizations.table tbody tr td {
	max-width: 250px;
}

#table_organizations.table thead tr th {
	color: #29282D;
	font-family: BebasNeue;
	font-size: 1.2em;
}

.btn-group .btn+.btn {
	margin-left: 0px;
}

.btn-group>.btn {
	border-radius: 0px;
} 

.org_edit {
	width: 24px;
	height: 20px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.bg-blue {
	background-color: #DAEDFB;
	border: 0px;
	margin: 5px 0px 5px 0px;
	padding: 10px;
}

.bg-green {
	background-color: #E9FFE1;
	border: 0px;
	margin: 5px 0px 5px 0px;
	padding: 10px;
}

.new_record {
	background-color: #E9FFE1;
}

@media screen and (max-width: 480px) {

	#table_organizations.table thead tr th,
	#table_organizations.table tbody tr td {
		max-width: 100%;
	}

    #table_organizations.table tbody tr td {
    	display: block;
    }

    .table>tbody>tr>td {
    	border: 0px;
    }

    .table>tbody>tr {
    	margin-bottom: 5px;
    	margin-top: 5px;
    }

    #table_organizations.table tbody tr td:last-child {
    	border-bottom: 1px solid lightgray;
    }

}