/* =======================================
	GENERAL / GLOBAL
   ======================================== */

@font-face {
  font-family: BebasNeue;
  src: url('../fonts/BebasNeue.otf');
}

.bg-gray {
	background-color: whitesmoke;
	border: 0px;
}

.bg-blue {
	background-color: #6ABCF7;
	border: 0px;
}

.bg-green {
	background-color: #BDF2A1;
	border: 0px;
}

.new_record {
	background-color: #E9E9E9;
	color: #424242;
	font-weight: bold;
}


nav.navbar {
	border-radius: 0px;
}

#nav_tabContent {
	margin-bottom: 15px;
}

.modal-content {
	border: 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#modal-delete-organization .modal-content {
	border: 0px;

}

#modal-delete-organization .modal-header, 
#modal-delete-organization .modal-footer {
	border: 0px;
}

#modal-edit-organization .modal-body {
	min-height: 630px;
}

button.btn {
	border: 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

button.btn.btn-default {
	background-color: #EEE8E8;
}

.modal-content .form-control {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 100%;
}

input + input {
	margin-top: 5px;
}

.modal-content label {
	color: #8F8C87;
	font-family: BebasNeue;
	margin-bottom: 2px;
}

.modal-title {
	color: #29282D;
	font-family: BebasNeue;
}

span.label {
	padding-top: 4px;
	margin: 2px;

}

.label-custom1 {
	background-color: #DEDEDE;
	border: 0px;
	color: #595959;
	line-height: 2em;
	font-size: .8em;
}

#table_organizations.table thead tr th,
#table_organizations.table tbody tr td {
	max-width: 250px;
}

#table_organizations.table thead tr th {
	color: #29282D;
	font-family: BebasNeue;
	font-size: 1.2em;
}

.btn-group .btn+.btn {
	margin-left: 0px;
}

.btn-group>.btn {
	border-radius: 0px;
} 

.org_edit {
	width: 24px;
	height: 20px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}


/* =========================================== 
	Bootstrap Tokenfield
   =========================================== */


span.ui-helper-hidden-accessible{
	display: none;
}

.token {
	max-width: 100%;
}
.token > span {
	max-width: 100% !important;
}


/* =========================================== 
	show_edit_items.php content
   =========================================== */

#body-edit-items #container_form_orgitems {
	padding: 20px 30px 20px 30px;
	min-height: 130px;
	position: relative;
}

#body-edit-items #btn_org_add_item{
	position: absolute;
	height: 39px;
	margin-top: 10px;
	right: 0;
}

#container_org_items {
	position: relative;
	max-width: 70%;
	margin: 0 auto;
}

#body-edit-items div.tokenfield.form-control {
	border-radius: 2px;
}


#body-edit-items .ui-autocomplete {
	border: 1px solid #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 100px;
    padding: 0;
    list-style-type: none;
}

#body-edit-items .ui-menu-item {
	padding-left: 20px;
	left: 0;
}

#body-edit-items .ui-menu-item:hover {
	background-color: #E0E4CC;
	cursor: pointer;
}

/* =========================================== 
	show_organizations.php content
   =========================================== */
#body-organizations #action_buttons {
	max-width: 55px;
}




@media screen and (max-width: 480px) {

	#table_organizations.table thead tr th,
	#table_organizations.table tbody tr td {
		max-width: 100%;
	}

    #table_organizations.table tbody tr td {
    	display: block;
    }

    .table>tbody>tr>td {
    	border: 0px;
    }

    .table>tbody>tr {
    	margin-bottom: 5px;
    	margin-top: 5px;
    }

    #table_organizations.table tbody tr td:last-child {
    	border-bottom: 1px solid lightgray;
    }

}